<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <form action="/" method="post">
      <div>
        <label for="say">Say</label>
        <input type="text" name="say" value="Hi">
      </div>
      <div>
        <label for="to">To</label>
        <input type="text" name="to" value="Express forms">
      </div>
      <div>
        <button type="submit">Send Greet</button>
      </div>
    </form>
  </body>
</html>