<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <form action="/Upload" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <input type="text" name="user">
        <button type="submit">Upload</button>
    </form>
  </body>
</html>