.g-index {
  border: 2px solid #eee;
} 

.m-nav {
  background: #f7f7f7;
}

.u-title {
  display: inline-block;
  border-bottom: 2px solid #eee;
  padding:10px 42px 10px 42px;
  font-size: 50px;
  color: #3c3c3c;
}

.u-title.z-active {
  background: #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #eee;
  padding:10px 42px 10px 42px;
  font-weight: bolder;
  color: #111;
}

.m-info {
  border-bottom: 2px solid #eee;
  padding: 30px 42px 30px 42px;
  width: 882px;
}

.m-info .u-text {
  height: 50px;
  border: 1px solid #000;
}

.u-pic {
  background: #ff4400;
}

.m-login {
  border-bottom: 2px solid #eee;
  padding: 30px 42px 30px 42px;
}

.m-login .u-pic {
  display: inline-block;
  height: 200px;
  width: 200px;
}

.m-login .u-input {
  display: inline-block;
  margin-left: 38px;
  margin-bottom: 20px;
}

.m-login .u-text {
  height: 50px;
  width: 631px;
  border: 1px solid #000;
}

.m-login .u-btn {
  display:inline-block;
  padding: 20px 0;
  margin-top: 20px;
  margin-right: 17px;
  width: 276px;
  text-align: center;
  background: #ff4400;
  color: #fff;
  font-size: 45px;
}

.m-login .u-btn.right {
  margin-right: 0px;
}

.m-service .u-func {
  display: inline-block;
  border: 2px solid #eee;
  padding: 27px;
  color: #999;
  font-size: 40px;
  text-align: center;
}

.m-service .u-pic {
  background-color: #ff4400;
  height: 130px;
  width: 130px;
  margin-bottom: 10px; 
}

.m-service .u-serline {
  display: inline-block;
}

.m-service .u-func.first {
  position: relative;
  top: -28px; 
  height: 446px;
  width: 321px;
}

.m-service .u-pic.first {
  position: relative;
  top: 85px;
  left: 70px;
  height: 250px;
  width: 160px;
}

.m-service .u-serline.endline {
  position: relative;
  top: -28px;
}