/*ex01*/
/*.content {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
}*/

/*ex02*/
/*.container {
  border:1px solid #797979;
  width:70px;
  display:flex;
  justify-content: space-evenly;
}

.content {
  background: red;
  margin:2px 0 2px 0;
}

/*ex03 04*/
/*.container {
  border:1px solid #797979;
  width:50px;
  height:30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.content {
  background: red;
  width: 20px;
  margin:0 auto;
}*/

/*ex05*/
/*.container {
  height: 25px;
  width: 50px;
  background: #eee;
}

.button {
  background: red;
  height: 6px;
  width:6px;
  position: relative;
  left:47px;
  top:-3px;
}*/

.button {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 30px solid #ccc;
  background: #fff;
  height: 10px;
  margin-top: 10px;
}